.fade-in-section {
    opacity: 0;
    transform: translateY(1vh);
    visibility: hidden;
    transition: opacity 150ms ease-out, transform 200ms ease-out;
    will-change: opacity, visibility;
}
.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}