.button {
    display: inline-block;
    padding: 12px 32px;
    background: #fff;
    border: #333 solid 1px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
    outline: rgba(0, 0, 0, 0.1) solid 4px;
    border-radius: 4px;
    text-align: center;
    transition: outline 200ms;

    &.primary {
        font-size: 1.25rem;
        font-weight: 500;
        padding: 12px 32px;
        margin-top: 1rem;
        display: inline-block;
        border-radius: 4px;
        background: #fff;
        outline: rgba(66, 211, 146, 0.9) solid 4px;
    }

    &.block {
        display: block;
    }

    &:hover {
        cursor: pointer;
        outline: rgba(0, 0, 0, 0.1) solid 6px;

        &.primary {
            outline: rgba(66, 211, 146, 1) solid 6px;
        }
    }
}