.container {
    padding: 0 20px;
    max-width: 40rem;
    margin: 0 auto;

    @include breakpoint(sm) {
        max-width: 46rem;
    }
    
    @include breakpoint(md) {
        max-width: 52rem;
    }
}