@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&family=Suez+One&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.logo {
    font-family: 'Suez One', serif;
}

h1, h2 {
    font-weight: 800;
}
h3, h4 {
    font-weight: 500;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}
strong {
    font-weight: 800;
}
dt {
    font-weight: 800;
}
dd {
    margin-bottom: 0.25rem;
}
a {
    color: #0080f5;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}