.clients {
    text-align: center;
    padding: 3rem 20px 5rem;
}

.clients-list {
    margin: 26px 0 46px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(126px, 1fr));
    grid-gap: 1rem;
    text-align: left;
    & > div {
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 1px 16px 0 rgba(0,0,0,0.08);
        padding: 1rem;
        position: relative;
        &::before {
            content: "";
            display: block;
            padding-bottom: 85%;
        }
        img {
            position: absolute;
            max-width: 80%;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
        span {
            font-weight: 500;
            font-size: 0.85rem;
            display: inline-block;
        }

        &:nth-child(2){
            img {
                max-width: 60%;
            }
        }
        &:nth-child(5){
            img {
                max-width: 70%;
            }
        }        
        &:nth-child(6){
            img {
                max-width: 60%;
            }
        }      
        &:nth-child(7){
            img {
                top: 36%;
                max-width: 60%;
            }
        }      
        &:nth-child(8){
            img {
                top: 36%;
                max-width: 60%;
            }
        }    
        &:nth-child(9){
            img {
                top: 36%;
                max-width: 60%;
            }
        }
    }
}
