.promo {
    padding: 4px;
    color: #fff;
    background: #015BBB;
    border-bottom: #FED500 solid 4px;
}
.main-header {
    padding: 10px 16px 2px;
    background: rgb(34, 34, 34);
}
.logo {
    background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}